.first-line-wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 70px;

  outline: 1px solid red;
}

@media screen and (max-width: 750px) {

  .first-line-wrapper {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and #{$mobile-width} {

  .first-line-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

}
