.hot-deals {
  width: 31.5789%; //360/1140
  min-width: 320px;

  display: flex;
  flex-direction: column;

  margin-right: 2.6316%;
}

.hot-deals__header {
  display: flex;
  justify-content: space-between;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $dark-grey;
  color: #ffffff;
}

.hot-deals__title {
  margin: 0;
  text-transform: uppercase;
}

.hot-deals__slider-dot {
  display: inline-block;
  vertical-align: middle;

  height: 15px;
  width: 15px;
  margin-right: 6px;

  border-radius: 50%;
  background-color: #e2e2e2;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: $orange;
  }
}

.hot-deals__slide {
  position: relative;
  display: none;

  background-color: #f4f5f7;

  overflow: hidden;

  &--show {
    display: block;
  }

}

.hot-deals__img {
  display: block;
  width: 100%;
}

.add-to-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -66px;
  margin-top: -17px;

  padding-left: 11px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-transform: uppercase;
  font-size: 13px;

  & svg {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    fill: #ffffff;
  }

  &:hover {
    background-color: $orange;
    color: $dark-grey;

    & svg {
      fill: $dark-grey;
    }
  }
}

.hot-deals__counter {
  position: absolute;
  bottom: 9px;
  left: 50%;
  margin-left: -151px;
}

.hot-deals__tablo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;

  border-radius: 50%;
  background-color: $grey;
  color: #ffffff;
}

.count-number {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}

.hot-deals__description {
  padding: 15px;
  border: 1px solid #e2e2e2;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.hot-deals__deal-title {
  display: block;
  font-size: 16px;
  line-height: 41px;
  font-weight: 600;
  text-align: center;
}

.hot-deals__rating {
  display: block;
  text-align: center;
}

.hot-deals__star {
  fill: transparent;
  stroke: #b4b4b4;
  &--active {
    fill: #000000;
  }
}

.hot-deals__horizantal-scroll {
  position: relative;
  height: 1px;
  margin-top: 21px;
  margin-bottom: 25px;
  background-color: $dark-grey;
}

.hot-deals__scroll-grip {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 4px;

  background-color: $orange;
}

.hot-deals__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
}

.hot-deals__action {
  display: inline-block;
  vertical-align: middle;
  width: 37px;
  height: 37px;

  border: 1px solid $dark-grey;
  text-align: center;

  &--like {
    & svg {
      fill: transparent;
      stroke: $dark-grey;
      stroke-width: 10%;
    }
  }
}

.hot-deals__full-price {
  position: relative;
  margin-right: 3px;
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 41px;

  &::after {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    top: 45%;

    height: 1px;
    background-color: $dark-grey;
  }
}

.hot-deals__current-price {
  display: inline-block;
  vertical-align: middle;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 11px;
  padding-right: 11px;


  background-color: $dark-grey;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 750px) {

  .hot-deals {
    width: auto; //360/1140
    min-width: 320px;
    max-width: 360px;
  }

}
