.main-nav {
  margin-left: auto;
  margin-right: -15px;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.main-nav__item {
  & a {
    display: block;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 21px;
    padding-bottom: 21px;

    color: $dark-grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 42px;
    font-weight: 600;

    &:hover {
      color: #ffffff;
      background-color: $light-grey;
    }
  }

  &--active a {
    position: relative;
    background-color: $orange;
    color: #ffffff;

    pointer-events: none;
    cursor: default;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;

      height: 6px;
      background-color: $dark-grey;
    }
  }
}

@media screen and (max-width: 665px) {

  .main-nav {
    position: relative;
    margin-left: 0;
    width: 100%;
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    z-index: 8;
    top: 50%;
    right: 25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;

    border: none;
    background-color: pink;


  }

  .main-nav__list {
    width: 100%;
  }

  .main-nav__item {
    display: none;
    width: 100%;

    &--active {
      display: block;
    }

    & a {
      padding-left: 50px;
      font-size: 25px;

    }
  }

}
