.options__option {
  background-color: $light-grey;
  border: none;

  font-size: 13px;
  line-height: 42px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and #{$mobile-width}  {

  .options {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    text-align: center;
  }
}
